In [1]:
import pandas

In [42]:
url = "data/data.xlsx"
df = pandas.read_excel(url,sheet_name = "product data")
df_modified = df[['UPC','ID','Manufacturer','Brand','Product Description']].copy()
df_modified['UPC'] = df_modified['UPC'].astype(str)
df_modified = df_modified[df_modified['UPC'].map(len)<12]
df_modified.head()
df_modified.shape

(671, 5)

In [35]:
def split_UPC(upc_int):
    df_modified['Company ID'] = df_modified['UPC'].str[0:5]

In [36]:
df_modified['UPC'].apply(split_UPC)
df_modified.head()

,UPC,ID,Manufacturer,Brand,Product Description,Company ID
0,208528800007,455229,Brunckhorst Co.,Boar's Head,Boar's Head Sliced White American Cheese - 120 CT,20852
1,208220500007,131,USDA Meat,USDA Meat,Pork Chops Bone-In Center Cut,20822
2,43000029220,243996,"Kraft Foods, Inc.",Maxwell House,Maxwell House Ground Coffee The Original Roast...,43000
3,19600050308,402216,Pinnacle Foods Group LLC,Celeste,Celeste Pizza For One Original 4 Cheese,19600
4,41331037822,397371,"Goya Foods, Inc.",Goya,Goya Sason Coriander & Annatto Seasoning,41331